---
title: Voormezele.be
layout: page
hero: landing.jpg
subtext: Een verborgen parel van de Westhoek en een dorp dat veel te bieden heeft.
---

<div class="blocks">
    {% for nav in site.data.nav %}
    <a class="block" href="{{ site.url }}{{ nav.href }}">
        <div class="title">{{ nav.title }}</div>
        <div class="image" style="background-image: url({{ nav.image }})"></div>
        <p class="description">{{ nav.description }}</p>
    </a>
    {% endfor %}


    {% assign itemsPerRow = 3 %}
    {% assign remainder = site.data.nav.size | modulo:itemsPerRow %}
    {% assign extra = itemsPerRow | minus:remainder %}
    {% for i in (1..extra) %}<div class="block"></div>{% endfor %}
</div>
