<div class="site-nav">

    <div class="content-wrapper clearfix">
        <button type="button" id="nav-button" class="toggle-nav">&#9776;</button>

        <div class="home">
            <a href="{{ site.url }}">Voormezele</a>
        </div>

        <ul class="navigation" id="navigation">
            {% for nav in site.data.navigation %}
            <li>
                <a href="{{ site.url }}{{ nav.href }}">{{ nav.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<script>
    var navButton = document.getElementById('nav-button');
    var navigation = document.getElementById('navigation');
    var openClass = 'nav-open';
    var openRegexp = new RegExp('\\b' + openClass + '\\b');

    navButton.addEventListener('click', function () {
        var newClassName = '';

        if (openRegexp.test(navigation.className)) {
            newClassName = navigation.className.replace(openRegexp, '');
        }
        else {
            newClassName += navigation.className + ' ' + openClass;
        }

        navigation.className = newClassName.trim().replace(/\s\s/g, ' ');
    });
</script>