---
layout: default
---

<div
    class="landing-header"
    {% if page.subtext != null %}
      style="background-image: url(/public/img/{{ page.hero }})"
    {% else %}
    style="background-image: url(/public/img/landing.jpg)"
    {% endif %}
></div>

{% include menu.html %}

<div class="content-wrapper landing-page">

  <div class="intro">
    <h1>{{ page.title }}</h1>
    {% if page.subtext != null %}
      {{ page.subtext }}
    {% endif %}
  </div>

  {{ content }}

</div>


{% include footer.html %}